{% extends 'base.html' %}
{% block content1 %}
<img alt="image not loaded" height="198" src="../static/hostel.jpg" width="940"/>
{% endblock %}
{% block content2 %}
<div id="main">

	<div id="container">
		<div id="content" role="main">
			<div id="post-2" class="post-2 page type-page status-publish hentry">
				<h1 class="entry-title">Hostel Admins 2017-18</h1>

				<div class="entry-content">
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>E-mail</th>
								<th>Contact No.</th>
								<th>Of What</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{% for row in rows %}
							<tr>
								<td id="books1">{{row["firstname"]}} {{row["lastname"]}}</td>
								<td id="books1"><a href="/user/{{row['username']}}">{{row["username"]}}</a></td>
								<td id="books1">{{row["phone"]}}</td>
								<td id="books1">{{row["of_what"]}}</td>
								<td id="books1">{{row["value"]}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!-- .entry-content -->
			</div><!-- #post-## -->
		</div><!-- #comments -->
	</div><!-- #content -->
</div><!-- #container --> 
{% endblock %}