{% extends 'base.html' %}
{% block content1 %}
{% endblock %}
{% block content2 %}
<div id="main">

	<div id="container">
		<div id="content" role="main">
			<div id="post-2" class="post-2 page type-page status-publish hentry">
				<h1 id="site-title" style="text-transform: uppercase;color:rgb(255,0,0);">Message</h1>
				<br>
				<br>
				<br>
				<h4 class="entry-title" >{{ message }}</h4>
			</div><!-- #post-## -->
		</div><!-- #comments -->
	</div><!-- #content -->
</div><!-- #container --> 
{% endblock %}