{% extends 'base.html' %}
{% block content1 %}
{% endblock %}
{% block content2 %}
<div id="main">

	<div id="container">
		<div id="content" role="main">
			<div id="post-2" class="post-2 page type-page status-publish hentry">
				<h1 id="site-title" style="text-transform: uppercase;color:rgb(255,0,0);">{{groupname}}</h1>
				<br>
				<br>
				<br>
				{% for poll in polls %}
				<div class="entry-content">
					<table>
						<thead>
							<tr>
								<th>Poll Id :</th>
								<td>{{poll["poll_id"]}}</td>
							</tr>
							<tr>
								<td colspan="2"><h3>{{poll["title"]}}</h3></td>
							</tr>
							<tr>
								<td>By: <a href="/user/username">{{poll["username"]}}</a></td>
								<td>
									<center>
										<h4 class="entry-title" >
											<img alt="image not loaded" height=15% width=15% src="../static/profile/{{ poll['username'] }}.jpeg" />
										</h4>
									</center>
								</td>
							</tr>
							<tr>
								<td>Posted on : {{poll["poll_date"]}}</td>
							</tr>
							<tr>
								<td colspan="2" rowspan="2"><textarea style="width: 50vw;height: 20vh;max-height: 50vh;max-width: 50vw;" disabled="true">{{poll["description"]}}</textarea></td>
							</tr>
							<tr></tr>
							<tr>
								<td>
									<a href="{{url_for('show_options',poll_id=poll['poll_id'])}}">Options</a>
								</td>
							</tr>
						</thead>
					</table>
				</div><!-- .entry-content -->
				<br>
				<br>
				<br>
				{% endfor %}
			</div><!-- #post-## -->
		</div><!-- #comments -->
	</div><!-- #content -->
</div><!-- #container --> 
{% endblock %}