{% extends 'base.html' %}
{% block content1 %}
<div class="row" id="fh5co-works">
	<div class="col-md-8 col-md-offset-2 text-center fh5co-section-heading work-box fadeInUp animated">
		<br/>
		<br/>
		<h2 class="fh5co-lead">Hostels :
		</h2>
		<p class="fh5co-sub">We welcome you !
		</p>
		<div class="fh5co-spacer fh5co-spacer-sm">
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 text-center fh5co-work-item work-box fadeInUp animated">
		<center>
			<figure>
				<a href="/hostel/bakul">
					<img height=75% width=75% class="img-responsive" src="../static/bakul.jpg" alt="Bakul : image not loaded">
				</a>
			</figure>
			<h3 class="heading">Bakul Nivas
			</h3>
		</center>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 text-center fh5co-work-item work-box fadeInUp animated"> 
		<center>
			<figure>
				<a href="/hostel/palash">
					<img height=75% width=75% class="img-responsive" src="../static/palash.jpg" alt="Palash : image not loaded">
				</a>
			</figure>
			<h3 class="heading">Palash Nivas
			</h3>
		</center>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 text-center fh5co-work-item work-box fadeInUp animated"> 
		<center>
			<figure>
				<a href="/hostel/parijaat">
					<img height=75% width=75% class="img-responsive" src="../static/parijaat.jpg" alt="Parijaat : image not loaded">
				</a>
			</figure>
			<h3 class="heading">Parijaat Nivas
			</h3>
		</center>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 text-center fh5co-work-item work-box fadeInUp animated">
		<center>
			<figure>
				<a href="/hostel/nbh">
					<img height=75% width=75% class="img-responsive" src="../static/nbh.jpg" alt="NBH : image not loaded">
				</a>
			</figure>
			<h3 class="heading">NBH
			</h3>
		</center>
	</div>
	<br>
</div>
{% endblock %}
{% block content2 %}
<div id="main">
	<div id="container">
		<div id="content" role="main">
			<div class="post-1 post type-post status-publish format-standard hentry category-uncategorized" id="post-1">
				<h2 class="entry-title"><a href="http://forum.iiit.ac.in/2017/?p=1" rel="bookmark" title="Permalink to About IIIT-H forum">About IIIT-H hostels</a></h2>
				<div class="entry-meta">
					<span class="meta-prep meta-prep-author">Posted on</span> <a href="http://forum.iiit.ac.in/2017/?p=1" rel="bookmark" title="11:15 am"><span class="entry-date">April 7, 2018</span></a> <span class="meta-sep">by</span> <span class="author vcard"><a class="url fn n" href="http://forum.iiit.ac.in/2017/?author=1" title="View all posts by forumiiith">forumiiith</a></span> </div><!-- .entry-meta -->
					<div class="entry-content">
						<p style="text-align: justify;"> </p>
						<p><strong>IIIT-H Hostel portal</strong> has been setup and maintained by the student body at IIIT-Hyderabad to ease the managing of the hostels by the Hostel Com.<strong>2018</strong>, as well as increase the healthy interaction among students for issues related to their Wings , Floors , Hostels ...</p>
						<p>This is a forum by the students, for the students.</p>
						<p>We try our best to give <em>unbiased</em> and <em>impartial</em> opportunity to everyone's queries.</p>
						<p>On this portal, posts by <strong>Portal administrators &amp; CoW</strong> may be considered <em>authentic</em> and <em>trust-worthy</em>. However, there may be other users who will try and solve a lot of your issues.</p>
						<!--<p>To help us respond to your queries quickly, please post in the <strong>correct sections</strong>.</p>-->
						<p>We will not entertain any spam posts, posts with abusive language and irrelevant posts.</p>
						<p>Hope this portal helps you.</p>
						<p>Regards,</p>
						<p>PARTH GARG, UG-2, 2018</p>
						<p> </p>
					</div><!-- .entry-content -->
					<div class="entry-utility">
						<span class="cat-links">
							<span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="http://forum.iiit.ac.in/2017/?cat=1" rel="category" title="View all posts in Uncategorized">Uncategorized</a> </span>
							<span class="meta-sep">|</span>
							<span class="comments-link"><a href="http://forum.iiit.ac.in/2017/?p=1#respond" title="Comment on About IIIT-H forum">Leave a comment</a></span>
						</div><!-- .entry-utility -->
					</div><!-- #post-## -->
				</div><!-- #content -->
			</div><!-- #container -->
			{% endblock %}